Package: noe
Section: misc
Priority: optional
Version: 0.1.2
Architecture: all
Maintainer: Eli Florêncio Pereira <elip@elipereira.com.br>
Depends: tar, gzip, cifs-utils, s3fs
Description: É um programa que faz backup dos seus arquivos
